openapi: 3.2.0
info:
  title: Protein Design Phi API
  description: Phi is a biomodal computation platform for protein design.
  version: 1.0.0
servers:
- url: https://api.dyno-agents.app
  description: Production
- url: http://localhost:8000
  description: Local development
tags:
- name: Phi
paths:
  /v1/phi/runs/{run_id}/results:
    get:
      summary: Get Workflow Results
      description: 'Get complete workflow execution results with all details.


        Returns comprehensive workflow results including:

        - Full workflow state (node-by-node status)

        - All artifacts with GCS URIs

        - Execution metrics (pLDDT, RMSD, alignment scores, etc.)

        - Node-level execution details


        Args:

        run_id: The workflow run ID

        include_artifacts: Include artifact file list (default: true)

        db: Database session


        Returns:

        Complete workflow results with final_state, artifacts, metrics


        Raises:

        404: Run not found

        202: Run still in progress (check back later)

        500: Run failed'
      operationId: get_workflow_results_v1_phi_runs__run_id__results_get
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          title: Run Id
      - name: include_artifacts
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Include Artifacts
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Workflow Results V1 Phi Runs  Run Id  Results Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Phi
  /v1/phi/artifacts/{artifact_id}/download:
    get:
      summary: Get Artifact Download Url
      description: 'Generate a signed HTTPS download URL for an artifact.


        The signed URL allows the caller to download the file directly from GCS

        without any GCP credentials. The URL expires after `expires_in` seconds

        (default 1 hour).


        Authentication is required: provide a valid x-api-key header (Clerk API key

        or the static API_SECRET_KEY for local dev).


        Args:

        artifact_id: Artifact ID

        expires_in: URL expiry time in seconds (default: 3600 = 1 hour)


        Returns:

        DownloadURLResponse with signed HTTPS download URL'
      operationId: get_artifact_download_url_v1_phi_artifacts__artifact_id__download_get
      parameters:
      - name: artifact_id
        in: path
        required: true
        schema:
          type: string
          title: Artifact Id
      - name: expires_in
        in: query
        required: false
        schema:
          type: integer
          default: 3600
          title: Expires In
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: API key for authentication
          title: X-Api-Key
        description: API key for authentication
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadURLResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Phi
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    DownloadURLResponse:
      properties:
        artifact_id:
          type: string
          title: Artifact Id
        filename:
          type: string
          title: Filename
        download_url:
          type: string
          title: Download Url
        expires_in:
          type: integer
          title: Expires In
          description: URL expiry time in seconds
          default: 3600
      type: object
      required:
      - artifact_id
      - filename
      - download_url
      title: DownloadURLResponse
      description: Response model for download URL.
